{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>5 Bairros com Mais Ocorrências de Roubos de Celulares</h3>
      <!-- Tabela de bairros -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Bairro</th>
            <th>Número de Ocorrências</th>
          </tr>
        </thead>
        <tbody>
          {% for bairro in bairros_mais_atacados %}
          <tr>
            <td>
              <a href="{% url 'detalhes_ocorrencia' id=bairro.id %}">
                {{ bairro.bairro }}
              </a>
            </td>
            <td>{{ bairro.num_ocorrencias }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2">Nenhum dado disponível</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Adicione o mapa na coluna ao lado da tabela -->
    <div class="col-md-8">
      <div id="map" style="height: 500px;"></div>
    </div>
  </div>
</div>

<!-- Script para configurar o mapa -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

{% endblock %}